<%= render partial:"shared/header" %>

<div class="wrapper">

  <div class="side-bar">
    <div class="search-area">
      <input type="text" class="search-form" placeholder="フリーワード検索">
    </div>
  </div>

  <div class="main-wrapper user-wrapper">

    <% @employees.each do |employee| %>
      <div class="user-card employee-card">
        <div class="user-face">
          <% if employee.face_image.present? %>
            <%= image_tag employee.face_image.variant(resize: '100x100'), class: 'face-image' %>
          <% else %>
            <%= image_tag 'face_image_sample', size: "100x100", class: 'face-image' %>
          <% end %>
        </div>
        <div class="user-card-info">
          <p class="user-card-info-child">社員ID：&nbsp;<%= employee.employee_number %></p>
          <p class="user-card-info-child">名前：&nbsp;&nbsp;&nbsp;&nbsp;<%= employee.name %>(<%= employee.name_kana %>)</p>
          <p class="user-card-info-child">役職：&nbsp;&nbsp;&nbsp;&nbsp;<%= employee.position %></p>
          <p class="user-card-info-child">TEL：&nbsp;&nbsp;&nbsp;&nbsp;<%= employee.phone %></p>
          <p class="user-card-info-child">Email：&nbsp;&nbsp;<%= employee.email %></p>
        </div>
      </div>
    <% end %>

  </div>

</div>