
<%# 個別CSSの読み込み %>
<%= stylesheet_link_tag "header_icons/employee", :media => "all" %>

<%# ヘッダー部分テンプレートの読み込み %>
<%= render partial:"shared/header" %>

<div class="wrapper">

<%# サイドバー %>
  <div class="side-bar">
    <div class="create-area">
      <p class="form-open-btn">社員新規登録</p>
    </div>
    <div class="search-area">
      <input type="text" class="search-form" placeholder="フリーワード検索">
    </div>
  </div>

<%# メイン画面 %>
  <div class="main-wrapper user-wrapper">

    <%# ユーザー情報カード %>
    <% @employees.each do |employee| %>
      <div class="user-card employee-card">
        <div class="user-card--face">
          <% if employee.face_image.present? %>
            <%= image_tag employee.face_image.variant(resize: '90x90'), class: 'face-image' %>
          <% else %>
            <%= image_tag 'face_image_sample', size: "90x90", class: 'face-image' %>
          <% end %>
        </div>
        <div class="user-card--info">
          <div class="user-card--info--child">
            <div class="user-card--info--child--tag">社員ID</div>
            <div class="user-card--info--child--value"><%= employee.employee_number %></div>
          </div>
          <div class="user-card--info--child">
            <div class="user-card--info--child--tag">名前</div>
            <div class="user-card--info--child--value"><%= employee.name %>(<%= employee.name_kana %>)</div>
          </div>
          <div class="user-card--info--child">
            <div class="user-card--info--child--tag">役職</div>
            <div class="user-card--info--child--value"><%= employee.position %></div>
          </div>
          <div class="user-card--info--child">
            <div class="user-card--info--child--tag">TEL</div>
            <div class="user-card--info--child--value"><%= employee.phone %></div>
          </div>
          <div class="user-card--info--child">
            <div class="user-card--info--child--tag">Email</div>
            <div class="user-card--info--child--value"><%= employee.email %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="modal-window hidden">
    <%= form_with(model: @employee, method: :POST, local: true) do |f| %>
      <div class="modal-window--card">
        <div class="modal-window--card--header"></div>
        <%= embedded_svg "close.svg", class:"close-icon" %>
        <div class="modal-window--card--title">社員新規登録</div>
        <div class="modal-window--card--info">
          <div class="modal-window--card--info--child">
            <%= f.label :face_image, '顔写真', class:"modal-window--card--info--child--tag" %>
            <%= f.file_field :face_image, class:"modal-window--card--info--child--value image-select" %>
          </div>
          <div class="modal-window--card--info--child">
            <%= f.label :employee_number, '社員ID', class:"modal-window--card--info--child--tag" %>
            <%= f.text_field :employee_number, autofocus: true, class:"modal-window--card--info--child--value", placeholder:"1234" %>
          </div>
          <div class="modal-window--card--info--child">
            <%= f.label :name, '名前', class:"modal-window--card--info--child--tag" %>
            <%= f.text_field :name, class:"modal-window--card--info--child--value", placeholder:"山田太郎" %>
          </div>
          <div class="modal-window--card--info--child">
            <%= f.label :name_kana, '名前(カナ)', class:"modal-window--card--info--child--tag" %>
            <%= f.text_field :name_kana, class:"modal-window--card--info--child--value", placeholder:"ヤマダタロウ" %>
          </div>
          <div class="modal-window--card--info--child">
            <%= f.label :position, '役職', class:"modal-window--card--info--child--tag" %>
            <%= f.text_field :position, class:"modal-window--card--info--child--value", placeholder:"チーフ" %>
          </div>
          <div class="modal-window--card--info--child">
            <%= f.label :phone, 'TEL', class:"modal-window--card--info--child--tag" %>
            <%= f.text_field :phone, class:"modal-window--card--info--child--value", placeholder:"09012345678" %>
          </div>
          <div class="modal-window--card--info--child">
            <%= f.label :email, 'Email', class:"modal-window--card--info--child--tag" %>
            <%= f.email_field :email, autocomplete: "email", class:"modal-window--card--info--child--value", placeholder:"test@example.com" %>
          </div>
          <div class="modal-window--card--info--child">
            <%= f.label :password, 'パスワード', class:"modal-window--card--info--child--tag" %>
            <%= f.email_field :password, autocomplete: "new-password", class:"modal-window--card--info--child--value", placeholder:"半角英数字混合" %>
          </div>
          <div class="modal-window--card--info--child modal-window--card--info--child--bottom">
            <%= f.label :password_confirmation, 'パスワード再入力', class:"modal-window--card--info--child--tag" %>
            <%= f.email_field :password_confirmation, autocomplete: "new-password", class:"modal-window--card--info--child--value", placeholder:"test@example.com" %>
          </div>
          <div class="modal-window--card--info--child">
            <div class="modal-window--card--info--child--checkbox">
              <%= f.label :admin, '管理者権限', class:"admin-check-label" %>
              <%= f.check_box :admin, class:"admin-check-box" %>
            </div>
            <div class="modal-window--card--info--child--btn">
              <%= f.button "登録", type: 'button', onclick: 'submit();', class:"modal-create-btn" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>