<%= stylesheet_link_tag "header_icons/employee", :media => "all" %>

<%= render partial:"shared/header" %>

<div class="wrapper">

  <div class="side-bar">
    <div class="search-area">
      <input type="text" class="search-form" placeholder="フリーワード検索">
    </div>
  </div>

  <div class="main-wrapper user-wrapper">

    <% @employees.each do |employee| %>
      <div class="user-card employee-card">
        <div class="user-card--face">
          <% if employee.face_image.present? %>
            <%= image_tag employee.face_image.variant(resize: '100x100'), class: 'face-image' %>
          <% else %>
            <%= image_tag 'face_image_sample', size: "100x100", class: 'face-image' %>
          <% end %>
        </div>
        <div class="user-card--info">
          <div class="user-card--info--child">
            <div class="user-card--info--child--tag">社員ID</div>
            <div class="user-card--info--child--value"><%= employee.employee_number %></div>
          </div>
          <div class="user-card--info--child">
            <div class="user-card--info--child--tag">名前</div>
            <div class="user-card--info--child--value"><%= employee.name %>(<%= employee.name_kana %>)</div>
          </div>
          <div class="user-card--info--child">
            <div class="user-card--info--child--tag">役職</div>
            <div class="user-card--info--child--value"><%= employee.position %></div>
          </div>
          <div class="user-card--info--child">
            <div class="user-card--info--child--tag">TEL</div>
            <div class="user-card--info--child--value"><%= employee.phone %></div>
          </div>
          <div class="user-card--info--child">
            <div class="user-card--info--child--tag">Email</div>
            <div class="user-card--info--child--value"><%= employee.email %></div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>