
<%# 背景動画 %>
<%= video_tag("/videos/session.mp4", autoplay: :true, loop: :true, muted: :true, class: "session-video") %>

<%# ログインフォーム %>
<%= form_with model: user, url: user_session_path, method: :POST, local: true do |f| %>
  <div class="user-sign">
    <div class="user-sign--card fadein">

      <%# ヘッダーとタイトル %>
      <div class="user-sign--card--header"></div>
      <div class="user-sign--card--logo"><%= image_tag("logo.png", class:"session-logo-icon") %></div>
      <div class="user-sign--card--title"><%= user_name %>ログインページ</div>

      <%# エラーメッセージ  %>
      <div class='error-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>

      <%# 入力フォーム %>
      <div class="user-sign--card--info">

        <%# メールアドレス %>
        <div class="user-sign--card--info--child --top">
          <%= f.label :email, 'Email', class:"user-sign--card--info--child--tag" %>
          <%= f.email_field :email, autocomplete: "email", class:"user-sign--card--info--child--value", placeholder:"test@example.com" %>
        </div>

        <%# パスワード %>
        <div class="user-sign--card--info--child --bottom">
          <%= f.label :password, 'パスワード', class:"user-sign--card--info--child--tag" %>
          <%= f.password_field :password, autocomplete: "new-password", class:"user-sign--card--info--child--value", placeholder:"半角英数字混合" %>
        </div>

        <%# 登録ボタン %>
        <div class="user-sign--card--info--child">
          <%= f.button "ログイン", type: 'button', onclick: 'submit();', class:"submit-btn" %>
        </div>

        <%# ゲストログインボタン %>
        <div class="user-sign--card--info--child">
          <%= link_to "簡単ログイン(#{ user_name })", guest_sign_in_path, method: :post, class:"submit-btn --guest" %>
        </div>

        <%# 社員or職人ログインページへの遷移ボタン %>
        <div class="user-sign--card--info--child --top">
          <%= link_to "--- #{ another_user_name }の方はこちらへ ---", another_user_session_path, class:"to-login" %>
        </div>

      </div>


    </div>
  </div>
<% end %>