
<%# 新規作成ボタン %>
<div class="create-btn-area">
  <p class="to-create-btn" id="chat-create-btn">チャット作成</p>
</div>

<%# 検索フォーム %>
<div class="search-area">
  <input type="text" class="search-form" placeholder="フリーワード検索">
</div>

<%# チャット一覧 %>
<p class="chat-room-header">チャットルーム一覧 ▼</p>
<div class="chat-room-area">
  <div class="chat-room-index">
    <% if employee_signed_in? %>
      <% current_employee.chats.each do |chat| %>
        <%= link_to chat.title, chat_path(chat.id), class:"chat-room-name" %>
      <% end %>
    <% elsif worker_signed_in? %>
      <% current_worker.chats.each do |chat| %>
        <%= link_to chat.title, chat_path(chat.id), class:"chat-room-name" %>
      <% end %>
    <% end %>
  </div>
</div>


<%# モーダルウィンドウ %>
<% if employee_signed_in? %>
  <div class="modal-window-chat hidden" id="chat-modal">
    <div class="modal-window-chat--card">

      <%# ヘッダーとタイトル %>
      <div class="modal-window-chat--card--header"></div>
      <%= image_tag "close.png", class:"close-icon", id:"chat-close-btn" %>

      <div class="modal-window-chat--card--title">新規チャット作成</div>

      <%# 入力フォーム %>
      <div class="modal-window-chat--card--form">
        <%= form_with model: @chat, url: chats_path, method: :post, local: true do |f| %>

          <%# チャット名入力 %>
          <div class="modal-window-chat--card--form--field">
            <%= f.label :title, 'チャット名', class:"modal-window-chat--card--form--field--tag" %>
            <%= f.text_field :title, class:"modal-window-chat--card--form--field--value", autofocus: true, placeholder:"テストルーム" %>
          </div>

          <%# 社員選択 %>
          <div class="modal-window-chat--card--form--field --user--area">
            <%= f.label :employee_ids, '社員選択', class:"modal-window-chat--card--form--field--tag" %>
            <div class="modal-window-chat--card--form--field--value --check--area">
              <%= f.collection_check_boxes :employee_ids, Employee.where.not(id: current_employee.id), :id, :name do |e| %>
                <div class="--check--area--child">
                  <%= e.check_box class:"--check--area--child--box" %>
                  <%= e.label class:"--check--area--child--label" %>
                </div>
              <% end%>
            </div>
            <input name="chat[employee_ids][]" type="hidden" value=<%= current_employee.id %>>
          </div>

          <%# 職人選択 %>
          <div class="modal-window-chat--card--form--field --user--area">
            <%= f.label :worker_ids, '職人選択', class:"modal-window-chat--card--form--field--tag" %>
            <div class="modal-window-chat--card--form--field--value --check--area">
              <%= f.collection_check_boxes :worker_ids, Worker.all, :id, :name do |e| %>
                <div class="--check--area--child">
                  <%= e.check_box class:"--check--area--child--box" %>
                  <%= e.label class:"--check--area--child--label" %>
                </div>
              <% end%>
            </div>
          </div>

          <%# 作成ボタン %>
          <div class="modal-window-chat--card--form--field--btn">
            <%= f.button "作成", type: "button", onclick: 'submit();', class: "modal-create-btn" %>
          </div>

        <% end %>
      </div>

    </div>
  </div>
<% end %>