
<%# 入力フォーム %>
<%= form_with(model: employee, local: true) do |f| %>
  <div class="employee-signup">
    <div class="employee-signup--card">
      <div class="employee-signup--card--header"></div>
      <%= link_to employees_path do %>
        <%= embedded_svg "close.svg", class:"close-icon" %>
      <% end %>
      <div class="employee-signup--card--title">社員新規登録</div>
      <div class="employee-signup--card--info">
        <div class="employee-signup--card--info--child">
          <%= f.label :face_image, '顔写真', class:"employee-signup--card--info--child--tag" %>
          <%= f.file_field :face_image, class:"employee-signup--card--info--child--value image-select" %>
        </div>
        <div class="employee-signup--card--info--child">
          <%= f.label :employee_number, '社員ID', class:"employee-signup--card--info--child--tag" %>
          <%= f.text_field :employee_number, autofocus: true, class:"employee-signup--card--info--child--value", placeholder:"1234" %>
        </div>
        <div class="employee-signup--card--info--child">
          <%= f.label :name, '名前', class:"employee-signup--card--info--child--tag" %>
          <%= f.text_field :name, class:"employee-signup--card--info--child--value", placeholder:"山田太郎" %>
        </div>
        <div class="employee-signup--card--info--child">
          <%= f.label :name_kana, '名前(カナ)', class:"employee-signup--card--info--child--tag" %>
          <%= f.text_field :name_kana, class:"employee-signup--card--info--child--value", placeholder:"ヤマダタロウ" %>
        </div>
        <div class="employee-signup--card--info--child">
          <%= f.label :position, '役職', class:"employee-signup--card--info--child--tag" %>
          <%= f.text_field :position, class:"employee-signup--card--info--child--value", placeholder:"チーフ" %>
        </div>
        <div class="employee-signup--card--info--child">
          <%= f.label :phone, 'TEL', class:"employee-signup--card--info--child--tag" %>
          <%= f.text_field :phone, class:"employee-signup--card--info--child--value", placeholder:"09012345678" %>
        </div>
        <div class="employee-signup--card--info--child">
          <%= f.label :email, 'Email', class:"employee-signup--card--info--child--tag" %>
          <%= f.email_field :email, autocomplete: "email", class:"employee-signup--card--info--child--value", placeholder:"test@example.com" %>
        </div>
        <div class="employee-signup--card--info--child">
          <%= f.label :password, 'パスワード', class:"employee-signup--card--info--child--tag" %>
          <%= f.password_field :password, autocomplete: "new-password", class:"employee-signup--card--info--child--value", placeholder:"半角英数字混合" %>
        </div>
        <div class="employee-signup--card--info--child employee-signup--card--info--child--bottom">
          <%= f.label :password_confirmation, 'パスワード再入力', class:"employee-signup--card--info--child--tag" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"employee-signup--card--info--child--value", placeholder:"パスワードを再入力してください" %>
        </div>
        <div class="employee-signup--card--info--child">
          <div class="employee-signup--card--info--child--checkbox">
            <%= f.label :admin, '管理者権限', class:"admin-check-label" %>
            <%= f.check_box :admin, class:"admin-check-box" %>
          </div>
          <div class="employee-signup--card--info--child--btn">
            <%= f.button "登録", type: 'button', onclick: 'submit();', class:"modal-create-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
