<div class="list-wrapper">
  <div class="search-form">
    <input type="text" class="search-text" placeholder="フリーワード検索">
    <%= link_to image_tag("search.png", class:"search-icon"), "/" %>
  </div>

  <div class="page-link">
    <%= link_to image_tag("left.png", class:"before-page"), "/" %>
    <p>2／10</p>
    <%= link_to image_tag("right.png", class:"after-page"), "/" %>
  </div>

  <% @customers.each do |customer| %>
    <%= link_to "/", class:"customer" do %>
    <div class="customer-info">
      <div class="info-left">
        <div class="status">
          <p><%= customer.status.name %></p>
        </div>
        <div class="order">受注日：<%= customer.order_date %></div>
        <div class="store"><%= customer.store.name %></div>
        <div class="name"><%= customer.name %></div>
      </div>
      <div class="info-right">
        <div class="update">更新日：<%= customer.created_at %></div>
      </div>
    </div>
    <% end %>
  <% end %>

  <div class="page-link">
    <%= link_to image_tag("left.png", class:"before-page"), "/" %>
    <p>2／10</p>
    <%= link_to image_tag("right.png", class:"after-page"), "/" %>
  </div>

</div>