
<%# ヘッダー部分テンプレートの読み込み %>
<%= render partial:"shared/header" %>

<div class='registration-header'>
  <p class='registration-header-text'>物件新規登録</p>
</div>

<%= form_with model: @customer, url: customers_path, method: :post, local: true do |f| %>

<div class="customer-new-wrapper">

  <div class="customer-new-info">
    <div class="customer-info-left">
      <p class="customer-info-title">＜基本情報＞</p>
      <div class="customer-new-field">
        <%= f.label :order_date, '受注日', class:"customer-new-label" %>
        <%= f.date_field :order_date, class:"customer-new-input", autofocus: true %>
      </div>

      <div class="customer-new-field">
        <%= f.label :store_id, '受注店舗', class:"customer-new-label" %>
        <%= f.collection_select(:store_id, Store.all, :id, :name, {}, {class:"customer-new-input"}) %>
      </div>
      
      <div class="customer-new-field">
        <%= f.label :name, '名前(漢字)', class:"customer-new-label" %>
        <%= f.text_field :name, class:"customer-new-input" %>
      </div>

      <div class="customer-new-field">
        <%= f.label :name_kana, '名前(カナ)', class:"customer-new-label" %>
        <%= f.text_field :name_kana, class:"customer-new-input" %>
      </div>

      <div class="customer-new-field">
        <%= f.label :phone, '電話番号', class:"customer-new-label" %>
        <%= f.text_field :phone, class:"customer-new-input" %>
      </div>

      <div class="customer-new-field">
        <%= f.label :email, 'メールアドレス', class:"customer-new-label" %>
        <%= f.email_field :email, class:"customer-new-input", autocomplete: "email" %>
      </div>

    </div>

    <div class="customer-info-right">
      <p class="customer-info-title">＜居住地＞</p>
      <div class="customer-new-field">
        <%= f.label :address_zip, '郵便番号', class:"customer-new-label" %>
        <%= f.text_field :address_zip, class:"customer-new-input" %>
      </div>

      <div class="customer-new-field">
        <%= f.label :address, '住所', class:"customer-new-label" %>
        <%= f.text_field :address, class:"customer-new-input" %>
      </div>

      <p class="info-title">＜施工先住所＞</p>
      <div class="customer-new-field">
        <%= f.label :residence_zip, '郵便番号', class:"customer-new-label" %>
        <%= f.text_field :residence_zip, class:"customer-new-input" %>
      </div>

      <div class="customer-new-field">
        <%= f.label :residence, '住所', class:"customer-new-label" %>
        <%= f.text_field :residence, class:"customer-new-input" %>
      </div>
    </div>
  </div>

  <div class="customer-new-actions">
    <%= f.button "登録", type: "button", onclick: 'submit();', class: "signup-btn" %>
  </div>

</div>

<% end %>
