
<%# 個別CSSの読み込み %>
<%= stylesheet_link_tag "header_icons/customer", :media => "all" %>
<%= stylesheet_link_tag "create_btn/customer", :media => "all" %>

<%# ヘッダー部分テンプレートの読み込み %>
<%= render partial:"shared/header" %>

<div class="wrapper">

  <%# サイドバー部分テンプレートの読み込み %>
  <div class="side-bar">
    <%= render partial:"shared/side_bar/customer" %>
  </div>

  <%# メイン画面 %>
  <div class="main-wrapper customer-wrapper">

    <div class="customer-info-wrapper left-wrapper">
      <div class="customer-info-wrapper--title">基本情報</div>
        <div class="detail--child--status"><%= @customer.status.name %></div>

        <div class="customer-info-wrapper--detail">
          <div class="customer-info-wrapper--detail--left">
            <div class="customer-info-wrapper--detail--child">
              <div class="detail--child--tag">顧客ID</div>
              <div class="detail--child--value"><%= @customer.id %></div>
            </div>
            <div class="customer-info-wrapper--detail--child">
              <div class="detail--child--tag">受注日</div>
              <div class="detail--child--value"><%= @customer.order_date %></div>
            </div>
            <div class="customer-info-wrapper--detail--child">
              <div class="detail--child--tag">受注店舗</div>
              <div class="detail--child--value"><%= @customer.store.name %></div>
            </div>
            <div class="customer-info-wrapper--detail--child">
              <div class="detail--child--tag">名前</div>
              <div class="detail--child--value"><%= @customer.name %></div>
            </div>
            <div class="customer-info-wrapper--detail--child">
              <div class="detail--child--tag">名前(カナ)</div>
              <div class="detail--child--value"><%= @customer.name_kana %></div>
            </div>
            <div class="customer-info-wrapper--detail--child">
              <div class="detail--child--tag">TEL</div>
              <div class="detail--child--value"><%= @customer.phone %></div>
            </div>
            <div class="customer-info-wrapper--detail--child">
              <div class="detail--child--tag">Email</div>
              <div class="detail--child--value"><%= @customer.email %></div>
            </div>
          </div>

          <div class="customer-info-wrapper--detail--right">
            <div class="customer-info-wrapper--detail--child">
              <div class="detail--child--tag">居住地</div>
              <div class="detail--child--value">〒<%= @customer.address_zip %></div>
            </div>
            <div class="customer-info-wrapper--detail--child">
              <div class="detail--child--tag"></div>
              <div class="detail--child--value"><%= @customer.address %></div>
            </div>
            <div class="customer-info-wrapper--detail--child"></div>
            <div class="customer-info-wrapper--detail--child"></div>
            <div class="customer-info-wrapper--detail--child">
              <div class="detail--child--tag">施工先</div>
              <div class="detail--child--value">〒<%= @customer.residence_zip %></div>
            </div>
            <div class="customer-info-wrapper--detail--child">
              <div class="detail--child--tag"></div>
              <div class="detail--child--value"><%= @customer.residence %></div>
            </div>
          </div>

        </div>
    </div>

    <div class="customer-info-wrapper">
      <div class="customer-info-wrapper--title">基本情報</div>
    </div>

  </div>

</div>