
<%# 個別CSSの読み込み %>
<%= stylesheet_link_tag "header_icons/customer", :media => "all" %>

<%# ヘッダー部分テンプレートの読み込み %>
<%= render partial:"shared/header" %>

<%# 物件グループ作成の部分テンプレートの読み込み %>
<%= render partial:"shared/form/user/customer/create" %>

<%# 現調情報作成の部分テンプレートの読み込み %>
<%= render partial:"shared/form/user/customer/meeting" %>

<%# 工事情報作成の部分テンプレートの読み込み %>
<%= render partial:"shared/form/user/customer/construction" %>

<div class="wrapper">

  <%# サイドバー部分テンプレートの読み込み %>
  <div class="side-bar">
    <%= render partial:"shared/side_bar/customer" %>
  </div>

  <div class="main-wrapper --customer">

    <%# 顧客情報画面 %>
    <div class="customer-wrapper --left">

      <%# 顧客情報／上段 %>
      <div class="--left--top">

        <div class="customer-info-wrapper">
          <%# ヘッダーカラー %>
          <div class="customer-info-wrapper--header"></div>
          <%# ステータスバー %>
          <div class="customer-info-wrapper--status--icon">
            <% Status.all.each.with_index(1) do |status, index| %>
              <div class="--status--bar before-color" id="bar-<%= index %>"></div>
              <div class="--status--box before-color" id="box-<%= index %>"><%= status.name %></div>
            <% end %>
          </div>
          <%# ステータス取得のための記述 %>
          <div class="hidden" id="customer-status"><%= @customer_show.status.id %></div>
          <%# 基本情報(左側) %>
          <div class="customer-info-wrapper--detail">
            <div class="customer-info-wrapper--detail--area --half">
              <div class="customer-info-wrapper--detail--child">
                <div class="detail--child --tag">顧客ID</div>
                <div class="detail--child --value"><%= @customer_show.id %></div>
              </div>
              <div class="customer-info-wrapper--detail--child">
                <div class="detail--child --tag">受注日</div>
                <div class="detail--child --value"><%= @customer_show.order_date %></div>
              </div>
              <div class="customer-info-wrapper--detail--child">
                <div class="detail--child --tag">受注店舗</div>
                <div class="detail--child --value"><%= @customer_show.store.name %></div>
              </div>
              <div class="customer-info-wrapper--detail--child">
                <div class="detail--child --tag">名前</div>
                <div class="detail--child --value"><%= @customer_show.name %></div>
              </div>
              <div class="customer-info-wrapper--detail--child --child--bottom">
                <div class="detail--child --tag">名前(カナ)</div>
                <div class="detail--child --value"><%= @customer_show.name_kana %></div>
              </div>
            </div>
            <%# 基本情報(右側) %>
            <div class="customer-info-wrapper--detail--area --half">
              <div class="customer-info-wrapper--detail--child">
                <div class="detail--child --tag">担当者</div>
                <div class="detail--child --value"><%= @customer_show.employee.name %></div>
              </div>
              <div class="customer-info-wrapper--detail--child">
                <div class="detail--child --tag">TEL</div>
                <div class="detail--child --value"><%= @customer_show.phone %></div>
              </div>
              <div class="customer-info-wrapper--detail--child">
                <div class="detail--child --tag">Email</div>
                <div class="detail--child --value"><%= @customer_show.email %></div>
              </div>
              <div class="customer-info-wrapper--detail--child">
                <div class="detail--child --tag">居住地</div>
                <div class="detail--child --value">〒<%= @customer_show.address_zip %> <%= @customer_show.address %></div>
              </div>
              <div class="customer-info-wrapper--detail--child --child--bottom">
                <div class="detail--child --tag">施工先</div>
                <div class="detail--child --value">〒<%= @customer_show.residence_zip %> <%= @customer_show.residence %></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <%# 顧客情報／下段 %>
      <div class="--left--bottom">
        <%# 左側／現調関連 %>
        <div class="--bottom">
          <div class="customer-info-wrapper --bottom--left">
            <%# ヘッダーカラーとタイトル %>
            <div class="customer-info-wrapper--header"></div>
            <div class="customer-info-wrapper--title">現調情報</div>
            <%# 基本情報 %>
            <div class="customer-info-wrapper--detail">
              <div class="customer-info-wrapper--detail--area --max">
                <% if Meeting.find_by(customer_id: @customer_show.id).present? %>
                  <div class="customer-info-wrapper--detail--child">
                    <div class="detail--child --tag">現調担当</div>
                    <div class="detail--child --value"><%= @meeting_show.worker.name %></div>
                  </div>
                  <div class="customer-info-wrapper--detail--child --child--bottom">
                    <div class="detail--child --tag">現調日時</div>
                      <% if @meeting_show.meeting_datetime.present? %>
                        <div class="detail--child --value"><%= @meeting_show.meeting_datetime.strftime("%Y-%m-%d %H:%M") %> 〜</div>
                      <% end %>
                  </div>
                <% else %>
                  <div class="customer-info-wrapper--detail--create" id="meeting-create-btn">現調情報を登録する</div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <%# 右側／工事関連 %>
        <div class="--bottom">
          <div class="customer-info-wrapper --bottom--right">
            <%# ヘッダーカラーとタイトル %>
            <div class="customer-info-wrapper--header"></div>
            <div class="customer-info-wrapper--title">工事情報</div>
            <%# 基本情報 %>
            <div class="customer-info-wrapper--detail">
              <div class="customer-info-wrapper--detail--area --max">
                <% if Construction.find_by(customer_id: @customer_show.id).present? %>
                  <div class="customer-info-wrapper--detail--child">
                    <div class="detail--child --tag">工事担当</div>
                    <div class="detail--child --value"><%= @construction_show.worker.name %></div>
                  </div>
                  <div class="customer-info-wrapper--detail--child">
                    <div class="detail--child --tag">着工日時</div>
                    <% if @construction_show.construction_datetime.present? %>
                      <div class="detail--child --value"><%= @construction_show.construction_datetime.strftime("%Y-%m-%d %H:%M") %> 〜</div>
                    <% end %>
                  </div>
                  <div class="customer-info-wrapper--detail--child --child--bottom">
                    <div class="detail--child --tag">完了日</div>
                    <% if @construction_show.completion_date.present? %>
                      <div class="detail--child --value"><%= @construction_show.completion_date %></div>
                    <% end %>
                  </div>
                <% else %>
                  <div class="customer-info-wrapper--detail--create" id="construction-create-btn">工事情報を登録する</div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%# コメント画面 %>
    <div class="customer-wrapper --right">
      <div class="customer-info-wrapper --right">
      
        <%# ヘッダーカラーとタイトル %>
        <div class="customer-info-wrapper--header"></div>
        <div class="customer-info-wrapper--title">コメント</div>

        <%# コメントエリア %>
        <div class="customer-info-wrapper--comment">

        <%# メッセージ一覧の部分テンプレート呼び出し %>
          <%= render partial:"shared/customer_show/comments", collection: @comments, as: "comment" %>
        </div>

        <%# メッセージ投稿フォーム %>
        <div class="customer-info-wrapper--form">
          <%= form_with(model: [@customer_show, @comment], local: true) do |f| %>
            <%= f.text_area :text, class:"comment-form", placeholder:"コメントを入力してください" %>
            <%= image_submit_tag("submit.png", onclick: "submit();", class:"comment-send") %>
          <% end %>
        </div>

      </div>
    </div>

</div>