<%= render partial:"shared/header" %>

<div class="chat-wrapper">

  <div class="chat-side-bar">
    <div class="chat-search-area">
      <input type="text" class="chat-search-form" placeholder="チャットルーム検索">
    </div>

    <p class="chat-room-title">チャットルーム一覧 ▼</p>

    <div class="chat-room-area">
      <div class="chat-room-index">
        <%= link_to "チャットルーム", "/", class:"chat-room-name" %>
      </div>
      <div class="chat-room-index">
        <%= link_to "チャットルーム", "/", class:"chat-room-name" %>
      </div>
      <div class="chat-room-index">
        <%= link_to "チャットルーム", "/", class:"chat-room-name" %>
      </div>
      <div class="chat-room-index">
        <%= link_to "チャットルーム", "/", class:"chat-room-name" %>
      </div>
      <div class="chat-room-index">
        <%= link_to "チャットルーム", "/", class:"chat-room-name" %>
      </div>
    </div>
  </div>

  <div class="chat-main">
  </div>

</div>