<%= render partial:"shared/header" %>

<%= form_with model: @chat, url: chats_path, method: :post, local: true do |f| %>

<div class="chat-new-wrapper">

  <div class="chat-new-field">
    <%= f.label :title, 'チャット名', class:"chat-new-label" %>
    <%= f.text_field :title, class:"chat-new-input", autofocus: true %>
  </div>


  <div class="chat-new-field">
    <%= f.collection_check_boxes :employee_ids, Employee.all, :id, :name %>
  </div>

  <div class="chat-new-field">
    <%= f.collection_check_boxes :worker_ids, Worker.all, :id, :name %>
  </div>



  <div class="chat-new-actions">
    <%= f.button "登録", type: "button", onclick: 'submit();', class: "signup-btn" %>
  </div>

</div>

<% end %>