
<%# 個別CSSの読み込み %>
<%= stylesheet_link_tag "header_icons/chat", :media => "all" %>

<%# ヘッダー部分テンプレートの読み込み %>
<%= render partial:"shared/header" %>

<%# チャットグループ作成の部分テンプレートの読み込み %>
<%= render partial:"shared/form/chat/create" %>

<%# チャットグループ編集の部分テンプレートの読み込み %>
<%= render partial:"shared/form/chat/edit" %>

<div class="wrapper">

  <%# サイドバー部分テンプレートの読み込み %>
  <div class="side-bar">
    <%= render partial:"shared/side_bar/chat" %>
  </div>

  <div class="main-wrapper">

    <%# チャットルームタイトルと編集アイコン %>
    <div class="chat-room-title">
      <%= @chat_show.title %>
      <%# 社員のみ編集ボタンを表示 %>
      <% if employee_signed_in? %>
        <%= image_tag "edit.png", class:"edit-icon", id:"chat-edit-btn" %>
      <% end %>
    </div>

    <%# メッセージ表示 %>
    <div class="chat-room-messages">
      <%# メッセージ一覧の部分テンプレート呼び出し %>
      <%= render partial:"shared/chat_room/messages", collection: @messages, as: "message" %>
    </div>

    <%# メッセージ投稿フォーム %>
    <div class="chat-message-form">
      <%= form_with(model: [@chat_show, @message], local: true) do |f| %>
        <%= f.text_area :text, class:"message-form", placeholder:"メッセージを入力してください", rows:"7" %>
        <%= f.label :message_images do %>
          <%= image_tag('clip.png', class:"file-clip-icon") %>
          <%= f.file_field :message_images, name: 'message[message_images][]', class: "hidden", multiple: true %>
        <% end %>
        <%= image_submit_tag("submit.png", onclick: "submit();", class:"message-send") %>
      <% end %>
    </div>

  </div>

</div>