<div class='session-header'>
  <%= image_tag("logo.png", class:"session-logo-icon") %>
  <p class='session-header-text'>社員ログインページ</p>
</div>

<div class="session-wrapper">

  <%= form_with model: @employee, url: employee_session_path, method: :post, class: 'session-main', local: true do |f| %>

  <div class="session-field">
    <%= f.label :email, 'メールアドレス', class:"label-name" %></br>
    <%= f.email_field :email, class:"input-field", autofocus: true, autocomplete: "email", placeholder:"メールアドレス" %>
  </div>

  <div class="session-field">
    <%= f.label :password, 'パスワード', class:"label-name" %></br>
    <%= f.password_field :password, class:"input-field", autocomplete: "current-password", placeholder:"パスワード" %>
  </div>

  <div class="session-actions">
    <%= f.submit "ログイン", class:"login-btn" %>
  </div>

  <% end %>

  <%= link_to "--- 職人の方はこちらへ ---", worker_session_path, class:"to-login" %>
</div>