
<%# モーダルウィンドウ %>
<div class="modal-window hidden" id="meeting-modal-create">
  <div class="modal-window--card">

    <%# ヘッダーとタイトル %>
    <div class="modal-window--card--header --customer"></div>
    <%= image_tag "close.png", class:"close-icon", id:"meeting-close-btn" %>
    <div class="modal-window--card--title">現調情報登録</div>

    <%# 入力フォーム %>
    <div class="modal-window--card--form">
      <%= form_with model: @meeting, url: customer_meetings_path(@customer_show), method: :post, local: true do |f| %>

        <%# 現調担当 %>
        <div class="modal-window--card--form--field">
          <%= f.label :worker_id, '現調担当', class:"modal-window--card--form--field--tag" %>
          <%= f.collection_select(:worker_id, Worker.all, :id, :name, {}, {class:"modal-window--card--form--field--value --select"}) %>
        </div>

        <%# 現調日時 %>
        <div class="modal-window--card--form--field">
          <%= f.label :meeting_datetime, '現調日時', class:"modal-window--card--form--field--tag" %>
          <%= f.datetime_field :meeting_datetime, class:"modal-window--card--form--field--value --select" %>
        </div>

        <%# 作成ボタン %>
        <div class="modal-window--card--form--field--btn --customer">
          <%= f.button "登録", type: "button", onclick: 'submit();', class: "submit-btn" %>
        </div>

      <% end %>
    </div>

  </div>
</div>