<%= render partial:"shared/header" %>

<div class="wrapper">

  <div class="side-bar">
    <div class="search-area">
      <input type="text" class="search-form" placeholder="フリーワード検索">
    </div>
  </div>

  <div class="main-wrapper user-wrapper">

    <% @workers.each do |worker| %>
      <div class="user-card worker-card">
        <div class="user-face">
          <% if worker.face_image.present? %>
            <%= image_tag worker.face_image.variant(resize: '100x100'), class: 'face-image' %>
          <% else %>
            <%= image_tag 'face_image_sample', size: "100x100", class: 'face-image' %>
          <% end %>
        </div>
        <div class="user-card-info">
          <p class="user-card-info-child">職人ID：&nbsp;<%= worker.worker_number %></p>
          <p class="user-card-info-child">屋号：&nbsp;&nbsp;&nbsp;&nbsp;<%= worker.trade_name %></p>
          <p class="user-card-info-child">名前：&nbsp;&nbsp;&nbsp;&nbsp;<%= worker.name %>(<%= worker.name_kana %>)</p>
          <p class="user-card-info-child">TEL：&nbsp;&nbsp;&nbsp;&nbsp;<%= worker.phone %></p>
          <p class="user-card-info-child">Email：&nbsp;&nbsp;<%= worker.email %></p>
          <p class="user-card-info-child user-card-info-title">ー 住所(居住地) ー</p>
          <p class="user-card-info-child">〒<%= worker.address_zip %></p>
          <p class="user-card-info-child"><%= worker.address %></p>
        </div>
      </div>
    <% end %>

  </div>

</div>