<!DOCTYPE html>
<html>
  <head>
    <title>Coresys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless request.path.include?('sign_in') %>
      <header>
        <div class="header-logo">
          <%= link_to image_tag("logo.png", class:"logo-icon"), "/" %>
        </div>
        <div class="nav">
          <ul class="category">
            <li class="category-list"><%= link_to "案件新規作成", "/", class:"nav-list" %></li>
            <li class="category-list"><%= link_to "案件一覧", "/", class:"nav-list" %></li>
            <li class="category-list"><%= link_to "在庫管理表", "/", class:"nav-list" %></li>
            <li class="category-list"><%= link_to "チャット", "/", class:"nav-list" %></li>
            <li class="category-list"><%= link_to "カレンダー", "/", class:"nav-list" %></li>
            <li class="category-list" id="user-pulldown">
              <%= current_employee.name %>
            </li>
          </ul>
          <div class="pulldown-list">
            <ul class="pulldown-child" id="pulldown-child">
              <li class="user-list"><%= link_to "ユーザー管理", "/", class:"user-list-child" %></li>
              <li class="user-list"><%= link_to "ログアウト", "/", class:"user-list-child" %></li>
            </ul>
          </div>
        </div>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>