<!DOCTYPE html>
<html>
  <head>
    <title>Coresys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless request.path.include?('sign_in') %>
      <header>
        <div class="header-logo">
          <%= link_to image_tag("logo.png", class:"logo-icon"), "/" %>
        </div>
        <div class="nav">
          <ul class="category">
            <li class="category-list"><%= link_to "物件新規作成", new_customer_path, class:"nav-list" %></li>
            <li class="category-list"><%= link_to "物件一覧", "/", class:"nav-list" %></li>
            <li class="category-list"><%= link_to "在庫管理表", "/", class:"nav-list" %></li>
            <li class="category-list"><%= link_to "チャット", "/", class:"nav-list" %></li>
            <li class="category-list"><%= link_to "カレンダー", "/", class:"nav-list" %></li>
            <li class="category-list" id="user-pulldown">
              <% if employee_signed_in? %>
                <%= current_employee.name %>
              <% elsif worker_signed_in? %>
                <%= current_worker.name %>
              <% else %>
                ユーザー名
              <% end %>
            </li>
          </ul>
          <div class="pulldown-list">
            <ul class="pulldown-child" id="pulldown-child">
              <% if employee_signed_in? && (current_employee.admin == true) %>
                <li class="user-list"><%= link_to "社員新規登録", new_employee_registration_path, class:"user-list-child" %></li>
                <li class="user-list"><%= link_to "職人新規登録", new_worker_registration_path, class:"user-list-child" %></li>
              <% end %>
              <li class="user-list"><%= link_to "社員一覧ページ", employees_path, class:"user-list-child" %></li>
              <li class="user-list"><%= link_to "職人一覧ページ", workers_path, class:"user-list-child" %></li>
              <% if employee_signed_in? %>
                <li class="user-list"><%= link_to "ログアウト", destroy_employee_session_path, method: :delete, class:"user-list-child" %></li>
              <% elsif worker_signed_in? %>
                <li class="user-list"><%= link_to "ログアウト", worker_employee_session_path, method: :delete, class:"user-list-child" %></li>
              <% else %>
                <li class="user-list"><%= link_to "ログアウト", "/", class:"user-list-child" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>